$twitch-color:          #6441A5
$twitch-text-color:     #FFF
$twitch-viewers-color:  rgba(0, 0, 0, 0.5)

.twitch.stream
    background-color: $twitch-color
    color: $twitch-text-color
    display: inline-block
    margin: .5em 0
    padding: .5em 1em
    position: relative
    width: 100%

    a        
        box-sizing: border-box
        color: $twitch-text-color
        display: inline-block
        overflow: hidden
        padding-right: 4em
        text-decoration: none
        text-overflow: ellipsis
        vertical-align: top
        white-space: nowrap
        width: 100%
        word-break: break-all
        word-wrap: break-word
    a:hover
        color: $twitch-text-color

    strong
        font-weight: 600
    em
        font-style: normal
        opacity: .5

    .icon
        margin-left: -.15em
    .viewers
        background-color: $twitch-viewers-color
        font-size: .8em
        padding: .25em .5em
        position: absolute
        right: 1em

.twitch.stream:hover
    opacity: .8